.Banner__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Banner__container {
    width: 90%;
    max-width: 1200px;
}