.container{
  height: 100vh;
  overflow: auto;
}

.animate .container:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff2;
  }