.NavItem__wrapper {
  opacity: 0;
  -webkit-transform: translateX(350px) translateZ(-1000px);
          transform: translateX(350px) translateZ(-1000px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
          transition: transform 0.4s, opacity 0.4s;
}

.NavItem__wrapper:nth-child(2) {
  -webkit-transition-delay: 0.04s;
          transition-delay: 0.04s;
}
.NavItem__wrapper:nth-child(3) {
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}
.NavItem__wrapper:nth-child(4) {
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
}
.NavItem__wrapper:nth-child(5) {
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.animate .NavItem__wrapper {
  -webkit-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0);
  opacity: 1;
}

.NavItem {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin: 10px 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  position: relative;
  transition: all 0.4s;
}

.NavItem:hover {
  color: #e18425;
}

.NavItem:before {
  content: '';
  width: 0;
  height: 2px;
  display: inline-block;
  background-color: #e18425;
  vertical-align: middle;
  transition: all 0.4s;
}

.NavItem:hover:before {
  width: 30px;
  margin-right: 10px;
}

@media screen and (max-width:767px){
    .NavItem {
      font-size: 1.5rem;
    }

    .NavItem:hover:before {
      width: 10px;
      margin-right: 5px;
    }
}