#ResumeSection {
  flex-direction: column;
}

.resume-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

#ResumeSection .section-header {
  width: 100%;
}

#ResumeSection .section-header .sectionTitle {
  display: inline-block;
}

#ResumeSection .section-header .sectionTitle:after {
  transform: scale(2) translate(0%, 10%);
  animation: sway2 10s linear 2s infinite alternate;
}