.ResumeCard_wrapper {
  font-size: 18px;
  line-height: 1.5;
  background-color: #121212;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  min-height: 250px;
}

.courseNameText {
  font-size: 28px;
}

.ResumeCard_wrapper .textblock {
  font-size: 14px;
}

.detailsText,
.instituteText {
  color: #989898;
}

.ResumeCard_wrapper .textblock .yearText {
  color: #ffde02;
  font-size: 35px;
}

.instituteText {
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width:1024px){
  .ResumeCard_wrapper .textblock .yearText{
    font-size: 24px;
  }
  .ResumeCard_wrapper .textblock .courseNameText{
    font-size: 20px  
  }
}

@media screen and (max-width:767px){
  .resume-cards-wrapper{
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  .ResumeCard_wrapper{
    min-height: auto;
  }
}